.btn {

    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        display: inline-block;
        position: relative;
        transition: transform .3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
        border-radius: 10rem;
        font-size: 2.5rem;

        border: none;
        cursor: pointer;
    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black, .2);

    }

    &:active,
    &:focus {
        transform: translateY(1px);
        box-shadow: 0 .5rem 2rem rgba($color-black, .2);
    }

    &-gray {
        background-image: linear-gradient(to left bottom,
                rgba($color-primary-light, 0.8),
                rgba($color-primary-dark, 0.8));
        color: $color-white;
        padding: 2rem 3rem;
    }

    &-animated {
        animation: moveInBottom .5s ease-out;
        animation-fill-mode: backwards;
    }


    &-create {
        background-color: $color-danger;
        color: $color-white;
        padding: 1rem 2rem;
    }

    &-cancel {
        background-color: $color-primary-dark;
        color: $color-white;
        padding: 1rem 2rem;
    }

}